{{>layouts/header}}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <th scope="row">{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>
<a href="/articles">글 목록 보기</a>
<a href="/articles/{{article.id}}/edit">수정</a>
<a href="/articles/{{article.id}}/delete">삭제</a>
{{>layouts/footer}}